html,
body {
  height: 100%;
  margin: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#surprise_me_button {
  border: none;
  color: rgb(212, 201, 201);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
}

#city_div {
  width: 100%;
  height: 5%;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  bottom: 0px;
  align-content: center;
}

#city_button {
  width: fit-content;
  bottom: 0%;
  height: fit-content;
  border: none;
  font-size: 36px;
  font-weight: bolder;
  background-color: transparent;
  color: black;
}

.country_button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 0 auto;
  background-color: transparent;
  bottom: 0%;
  margin-top: 2%;
  font-weight: bolder;
  font-size: xx-large;
  color: black;
  border: none;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.country_button:hover {
  color: blue;
  font-size: 40px;
}

#container {
  width: 100%;
  height: 25%;
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  display: grid;
  align-content: center;
  grid-template-rows: auto auto auto;
}

#message_container {
  width: 25%;
  height: 15%;
  position: absolute;
  z-index: 1001;
  top: 0px;
  left: 50%;
}

.new_game_div {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}

#success_message {
  /* margin-top: -5%; */
  width: fit-content;
  color: white;
  z-index: 1000;
  font-size: 50px;
  font-weight: bolder;
  user-select: none;
}

#score {
  /* margin-top: -20%; */
  width: fit-content;
  color: white;
  z-index: 1000;
  font-size: 30px;
  font-weight: bolder;
  user-select: none;
}

#name {
  width: 25%;
  margin-left: 2%;
}
#name_txt {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 2%;
}
#submit {
  width: 10%;
  margin-left: 10%;
}
#cheat_button {
  background-color: white;
  border-radius: 45%;
  border-color: black;
  border: 10px;
  color: black;
  content: "HELLO";
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  z-index: 1000;
  font-size: 16px;
  margin: 4px -200px;
  cursor: pointer;
  left: 40px;
  transition: linear 0.5s;
}

#cheat_button:hover {
  background-color: grey;
  color: white;
  font-weight: bold;
}
#cheat_button::before {
  content: "HINT";
}
